<div class="content" role="main">
  <p>{{ someVar }}</p>

  <!-- Button to trigger the method call -->
  <button (click)="activateButton()">Activate Button</button>

  <!-- Button whose state will be updated -->
  <button [disabled]="isButtonDisabled">Button to Update</button>

  <!-- Input with ngModel for two-way binding -->
  <input [(ngModel)]="inputText" placeholder="Enter text">

  <!-- Button to display an alert with the inputText value -->
  <button (click)="displayInputText()">Display Input Text</button>

  <ul>
    <li *ngFor="let item of medicine">
      {{ item.id}} {{ item.name }} {{ item.description }}
    </li>
  </ul>

  <app-medicine></app-medicine>

  <router-outlet></router-outlet>
</div>
