<div class="container">
  <div class="row">
    <div class="col-sm">
      <a href="/medicine"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <br>Medicine
      </a>
    </div>
    <div class="col-sm">
      <a href="/medicine-list"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <br>Medicine list
      </a>
    </div>
    <div class="col-sm">
      <a href="/medicine-edit"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <br>Medicine edit
      </a>
    </div>
  </div>
</div>
