<a routerLink="/medicine-create" class="btn btn-success float-right mb-4">Add medicine</a>

<table class="table" aria-label="Table with medicines">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Medicine name</th>
    <th scope="col">Producer name</th>
    <th scope="col">Best before date</th>
    <th scope="col">Prescription</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let medicine of medicines; index as i">
    <th scope="row">{{i + 1}}</th>
    <td>{{medicine.medicineName}}</td>
    <td>{{medicine.producerName}}</td>
    <td>{{medicine.bestBeforeDate | date}}</td>
    <td>{{medicine.prescription?.medicineType}}</td>
    <td>
      <a [routerLink]="['/medicine-edit', medicine.id]" class="btn btn-info">Edit</a>
      <button class="btn btn-danger" (click)="deleteMedicine(medicine)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>

<!-- Add the generated HTML snippet here -->
<div class="container">
  <div class="row">
    <!-- Add the MedicineListComponent selector here to display the table -->
    <app-medicine-list></app-medicine-list>
  </div>
</div>
